<div class="b-nav">
  <ul>
    <li><a href="{{ about_link }}">{{ about_menu }}</a></li>
    <li><a href="{{ production_link }}">{{ production_menu }}</a></li>
    <li><a href="{{ delivery_link }}">{{ delivery_menu }}</a></li>
    <li><a href="{{ payment_link }}">{{ payment_menu }}</a></li>
    <li><a href="{{ contact_link }}">{{ contact_menu }}</a></li>
  </ul>
</div>